html{
    font-size: 16px;
    font-family:"Times New Roman", serif;
}
div {       
    padding-left: 50px;
    padding-right: 50px;
    width: 88%;
    margin: 0 auto;  
}
h1 {
    font-family:courier, monospace;
    font-size: 2em;
    color: #899099;
}
h2 {
    font-family:arial, sans-serif;
    font-size: 1.5em;
    color: #660066;
}
p{
    padding:10px;
}
.coolness{
    text-align:center;
    background-color:#ffe6ff;
    border-style: solid;
    border-color:#663300;
    border-radius:5px;
    padding:10px;
}
.ohyeah{
    text-align:justify;
    border-style: double;
    border-color:#663300;
    border-radius:5px;
    padding:10px;
}
.ingredientbox{
    float:right;
    width:35%;
    text-align:left;
    border-style: solid;
    border-color:#663300;
    border-radius:5px;
    padding: 10px;
}
.clearfix:after{
    overflow:auto
}

img{
    float:left;
    width:60%;
    border-color:#663300;
    border-radius:5px;   
}

